html,
body {
    height: 100%;
}

/* body {
  padding: 50px;
} */

body {
	/* background-color: grey; */
	/* font: "Lucida Grande", Helvetica, Arial, sans-serif; */
	margin: auto;
	background-color: #fff;
}

a {
	color: #00B7FF;
}

header {
	background-color: burlywood;
	padding: 2em;
}

main {
	margin: auto;
	padding: 2em;
}

td {
	width: 33%;
	padding: 0 3em;
}

td, th {
  padding: 0.5rem;
}
